/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */


/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */
canvas{
  vertical-align:bottom;
}

/* ---- particles.js container ---- */

#particles-js{
  z-index: 1;
  padding: 0px;
  margin: 0px;
  position: absolute;
}
